h1{
    font-size: 60px ;
    font-family: 'Times New Roman', Times, serif;

}
p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

}
.htmlvalidate.json:

{ 
  "extends" : [ 
    "html-validate:recommended" 
  ] , 

  "rules" : { 
    "close-order" : "error" , 
    "void" : [ "warn" ,  { "style" : "pomiń" } ] 
  } 
}